!!! XML
!!!
%html
  %head
    %meta{ 'name' => "viewport", :content => "width=device-width, user-scalable=yes"}
    %meta{ 'charset' => "utf-8"}
    %style *{ margin:0; padding:0; }
    %script{ :type => "text/javascript",
    	     :src => "http://maps.google.com/maps/api/js?sensor=true" }
  %body
    %div#map
    :script
      $("map").style.width = document.width + "px";
      $("map").style.height = document.height + "px";
      navigator.geolocation.getCurrentPosition(
        );
      function $(id){ return document.getElementById(id); }

