!!! XML
!!!
%html
  %head
    %meta{ :name => "viewport", :content => "width=device-width, user-scalable=yes"}
    %meta{ :charset => "utf-8"}
    %style *{ margin:0; padding:0; }
    %script{ :type => "text/javascript",
    	     :src => "http://maps.google.com/maps/api/js?sensor=true" }
  %body
    %div#map
    %script{ :type => "text/javascript",
    	     :src => "/google_map.js" }
    %form{:id => "post_pos_form", :action => "/post_pos", :method => "post", :target => "msg" }
      %input{:type => "hidden", :name => "x", :value => 0 }
      %input{:type => "hidden", :name => "y", :value => 0 }
      %input{:type => "hidden", :name => "disp_pos", :value => 0 }

