!!! XML
!!!
%html
  %head
    %meta{ 'name' => "viewport", :content => "width=device-width, user-scalable=yes"}
    %meta{ 'charset' => "utf-8"}
  %body
    %div#container
      %a welcome to |
      labs.unoh.net |

